* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}


.App {
  background-color: #4c4c977f;
}

.App .body {
  display: flex;
}


/** Header **/
.header-nav {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header-nav .header-nav-left {
  display: flex;
  justify-content: space-evenly;
}

.header-nav .header-nav-left img {
  height: 40px;

}

.header-nav .header-nav-left .input-sec {
  display: flex;
  align-items: center;
  background-color: #edf4fa;
  padding: 10px;
  margin-left: 10px;
  border-radius: 99px;
}

.header-nav .header-nav-left .input-sec input {
  border: none;
  background-color: transparent;
  outline: 0;
}

.header-nav .header-nav-center {
  display: flex;
  flex: 1;
  justify-content: center
}

.header-nav .header-nav-center .option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
  border: #fff;
}

.header-nav .header-nav-center .option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  padding: 0 30px;
  border-bottom: none;
}


.header-nav .header-nav-center .active-option {
  border-bottom: 4px solid #fff;
}

.header-nav .header-nav-right img {
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.header-nav .header-nav-right {
  display: flex;
}

.header-nav .header-nav-right .info {
  display: flex;
  align-items: center;
}

.header-nav .header-nav-right .info h4 {
  margin-left: 10px;
}

/* Main Timeline*/

.timeline {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.timeline .post {
  height: auto;
  width: 50%;
  border: 1px solid #dadada;
  margin: 50px 0;
  overflow: hidden;
}

.timeline .post .post-head {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: small;
  border-bottom: 1px solid #dadada;
}

.timeline .post .post-head .profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 5px;
}

.timeline .post .post-head .profile-pic img {
  height: 50px;
  width: 50px;
}

.timeline .post .post-head .username {
  margin-left: 10px;
}

.timeline .post .post-head .username p {
  margin: auto 0;
}

.timeline .post .post-body img {
  width: 100%;
}

.timeline .post .post-info {
  padding: 10px;
}

.timeline .post .post-info .icons {
  margin: 0 10px;
}

.timeline .post .post-info .icons i {
  margin: 0 5px;
  font-size: 30px;
}

.timeline .post .post-info .likes {
  font-size: 15px;
  font-weight: 800;
  margin: 5px 0;
}

.timeline .post .post-info .comments {
  font-size: 15px;
  margin-bottom: 5px;
}

.timeline .post .post-info .comments p {
  margin: 0;
}

.timeline .post .post-info .comments p span {
  font-weight: 600;
}

.timeline .post .post-info .timestamp {
  margin-top: 15px;
  font-size: small;
  border-bottom: 1px solid #dadada;
  margin-bottom: 5px;
  color: #808080;
}

.timeline .post .post-info .add-comments input {
  width: 80%;
  margin-left: 10px;
  border: none;
}

/* Chat*/
.chat {
  display: flex;
  background: #e4e5e9;
  flex-direction: column;
  border: 1px solid rgb(166, 162, 162);
  border-radius: 10px;
  position: fixed;
  float: right;
  margin-top: 10px;
  margin-left: 75%;
  width: 260px;
  height: 530px;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.chat p {
  text-align: center;
}

.chat ul {
  padding: 20px;
  height: 770px;
  list-style-type: none;
}

.chat ul li {
  padding-bottom: 20px;
  float: right;

}

.about {
  margin-left: 60px;
  padding-top: 5px;
  text-align: start;
  text-align: left;
}

.chat ul li img {
  position: fixed;
  float: left;
  margin-right: 20px;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  margin-left: 3px;
}

.user {
  width: 100%;
  margin-left: 90px;
}

.about .name {
  text-align: left;
}

.chat .online {
  color: green;
}

/* Painel de Informações */
.panel {
  position: absolute;
  background: #e4e5e9;
  border: 1px solid rgb(166, 162, 162);
  border-radius: 4px;
  margin-right: 75%;
  margin-top: 220px;
  width: 260px;
  height: 450px;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.panel ul {
  list-style-type: none;
}

.panel ul li {
  font-size: small;
  border-bottom: 5px solid #dadada;
  padding: 21.5px;
}

.panel ul li:hover {
  background-color: rgb(63, 167, 167);
  cursor: pointer;
}

/* Painel de Informações do Usuário */
.panel-user-info {
  position: absolute;
  background: #e4e5e9;
  border: 1px solid rgb(166, 162, 162);
  border-radius: 4px;
  margin-right: 75%;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-top: 5px;
  width: 260px;
  height: 200px;
  text-align: center;

}

.panel-user-info img {
  width: 90px;
  height: 90px;

}

/*Rodapé*/
footer {
  background-color: #e4e5e9;
}

footer img {
  height: 100px;
  width: 300px;
}

footer {
  height: 100%;
}